

<div class="banner">
<img src="../img/searce.jpg"    style="margin-top:-61px;margin-left: -586px;width: 1909px;height:702px;">
</div>

<p class="sec1">Searce featured as one of the fastest growing companies on Inc. 5000</p>

<p id="part2">We improve business processes &amp; build innovative solutions that delivers transformation.</p>


<div class="row1">
<div class="col1">
<img src="../img/Logistics-solutions.jpg" id="img1"/>
<p style="color:black;color: black;font-size: 14px;padding-right: -38px;margin-right: -8px;margin-left: -252px;margin-top: 20px;">
<ul id="list1">
<li>Improving business outcomes for top global logistics companies.</li>
<li>First time right invoicing for freight forwarding companies & shippers.</li>
<li>Improving order-to-cash cycles for 3PLs.</li>
<li>Proprietary auto-rating engine integrating even the most complex multi-modal tariffs</li>
<li>Tariff Management Reporting, Pricing Analytics & BD Support, Customer Reporting & Shipment Analytics</li>
</ul>
</p>


<div class="mk-button">
<a href="http://www.searce.com/logistics-analytics-solution-provider/" target="_blank">
<span style="color:white;">DIVE IN</span></a>
</div>
</div>



<div class="col1">
<img src="../img/Cloud-Solutions1.jpg" id="img2">
<p style="color:black;color: black;font-size: 14px;padding-right: -38px;margin-right: -8px;margin-left: -252px;margin-top: 20px;">
<ul id="list2">
<li>Improving business outcomes for top global logistics companies.</li>
<li>First time right invoicing for freight forwarding companies & shippers.</li>
<li>Improving order-to-cash cycles for 3PLs.</li>
<li>Proprietary auto-rating engine integrating even the most complex multi-modal tariffs</li>
<li>Tariff Management Reporting, Pricing Analytics & BD Support, Customer Reporting & Shipment Analytics</li>
</ul>
</p>
<div class="mk-button2">
<a href="http://www.searce.com/logistics-analytics-solution-provider/" target="_blank">
<span style="color:white;">DIVE IN</span></a>
</div>

</div>

<div class="col1">
<img src="../img/Technology-Solutions2.jpg" id="img3">
<p style="color:black;color: black;font-size: 14px;padding-right: -38px;margin-right: -8px;margin-left: -252px;margin-top: 20px;">
<ul id="list3">
<li>Improving business outcomes for top global logistics companies.</li>
<li>First time right invoicing for freight forwarding companies & shippers.</li>
<li>Improving order-to-cash cycles for 3PLs.</li>
<li>Proprietary auto-rating engine integrating even the most complex multi-modal tariffs</li>
<li>Tariff Management Reporting, Pricing Analytics & BD Support, Customer Reporting & Shipment Analytics</li>
</ul>
</p>
<div class="mk-button3">
<a href="http://www.searce.com/logistics-analytics-solution-provider/" target="_blank">
<span style="color:white;">DIVE IN</span></a>
</div>

</div>
</div>


<div id="sec2">
<h2 style="font-size: 30px;text-align: center;color: #393836;font-weight:300;padding-top: 90px;">Happy Clients</h2>
<img src="../img/LOGOS-1.png" style="margin-left: 448px;
    padding-top: 47px;width: 1036px;height: 280px;">
</div>