<div class="row">
  <div class="column">
    <img src="/img/facebook.png" id="social1" alt="Snow" style="width:40px;height:40px;">
	
  </div>
  <div class="column">
    <img src="/img/googleplus.png"   alt="Forest" style="width:40px;height:40px;">
  </div>
  <div class="column">
    <img src="/img/linkedin.png" alt="Mountains"  style="width:40px;height:40px;">
  </div>
  <div class="column">
    <img src="/img/twitter.png" alt="Mountains" style="width:40px;height:40px;">
  </div>
</div>
